package-lock.json
*.iml
/.idea
dist
/node_modules
/assets/fonts
/assets/scss/bootstrap
/assets/js/vendor
/assets/css/app.css
.DS_Store
/assets/.DS_STORE
assets/img/.DS_Store
assets/img/favicons/.DS_Store
