/* Navbar Animation (Credits: codepen.io/bennettfeely)
------------------------- */

$duration: 0.5s;

$size: 100%;
$toggled-size: 0.75;

$navicon-width: 15px;
$navicon-height: 2.5px;
$navicon-distance: 4.5px;
$navicon-hover-distance: 6.5px;

$bg: #274380;
$nav-bg: #000;

.navicon-button {
    display: inline-block;
    position: relative;
    padding: 2.0625rem 1.5rem;
    transition: calc($duration/2);
    cursor: pointer;
    user-select: none;
    padding: 15px;
    border: none;
    .navicon:before,
    .navicon:after {
        transition: calc($duration/2);
    }

    &:hover {
        transition: $duration;

        .navicon:before,
        .navicon:after {
            transition: calc($duration/2);
        }

        .navicon:before {
            top: $navicon-hover-distance;
        }
        .navicon:after {
            top: calc($navicon-hover-distance * -1);
        }
    }
}

.navicon {
    position: relative;
    width: $navicon-width;
    height: $navicon-height;
    background: var(--foreground-colour);
    transition: $duration;
    border-radius: 0;

    &:before,
    &:after {
        display: block;
        content: "";
        height: $navicon-height;
        width: $navicon-width;
        background: var(--foreground-colour);
        position: absolute;
        z-index: -1;
        transition: $duration calc($duration / 2);
        border-radius: 0;
    }

    &:before {
        top: calc($navicon-distance);
    }
    &:after {
        top: calc($navicon-distance * -1);
    }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: $duration;
}

/* Minus */
.open {
    transform: scale($toggled-size);
}

@keyframes slide-up {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(300%);
    }
}

@keyframes slide-up-screen {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down-screen {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.slide-up {
    transform: translateY(300%);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.animate .slide-up {
    animation-name: slide-up;
}

.nav-modal-show .modal-slide {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
}

.nav-modal-hide .modal-slide {
    animation: slide-down 1s cubic-bezier(0.65, 0, 0.35, 1) both
}

.nav-modal {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
}

.nav-modal-show {
    animation-delay: 0s;
    animation-name: slide-up-screen;
}

.nav-modal-hide {
    animation-delay: 1.4s;
    animation-name: slide-down-screen;
}

.loading-modal-hide {
    animation-delay: 1.5s !important;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
    animation-iteration-count: 1 !important;
    animation-name: slide-down-screen !important;
}

.loading-modal-hide .loading-text {
    animation-duration: 1s;
    animation-delay: 0.5s !important;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
    animation-name: slide-down;
}

.hero-background {
    opacity: 0.0;
}

.animate .hero-background {
    animation-name: fade-in;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.animate .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.navbar-transparent .navbar-brand-container {
    width: 0%;
}

.animation-delay-1 {
    animation-delay: 0.2s;
}

.animation-delay-2 {
    animation-delay: 0.4s;
}

.animation-delay-3 {
    animation-delay: 0.6s;
}

.animation-delay-4 {
    animation-delay: 0.8s;
}

.animation-delay-5 {
    animation-delay: 1s;
}

.animation-delay-6 {
    animation-delay: 1.2s;
}

.nav-modal-hide .animation-delay-6 {
    animation-delay: 0.2s;
}

.nav-modal-hide .animation-delay-5 {
    animation-delay: 0.4s;
}

.nav-modal-hide .animation-delay-4 {
    animation-delay: 0.6s;
}

.nav-modal-hide .animation-delay-3 {
    animation-delay: 0.8s;
}

.nav-modal-hide .animation-delay-2 {
    animation-delay: 1s;
}

.nav-modal-hide .animation-delay-1 {
    animation-delay: 1.2s;
}